RisksManagementClient/Connected Services/ServiceRisksManagement/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RisksManagementService.Database.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RisksManagementService.Database.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="Telegram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppUser" nillable="true" type="tns:AppUser" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolePattern" nillable="true" type="tns:RolePattern" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:Settings" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="RolePattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:Settings" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolePattern" nillable="true" type="tns:RolePattern" />
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:SettingsCategory" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcategory" nillable="true" type="tns:SettingsSubcategory" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
  <xs:complexType name="SettingsCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsCategory" nillable="true" type="tns:SettingsCategory" />
  <xs:complexType name="SettingsSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsSubcategory" nillable="true" type="tns:SettingsSubcategory" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="tns:AppUser" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="tns:AppUser" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
</xs:schema>