RisksManagementClient/Connected Services/ServiceRisksManagement/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RisksManagementService.Database.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RisksManagementService.Database.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="Telegram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppUser" nillable="true" type="tns:AppUser" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolePattern" nillable="true" type="tns:RolePattern" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:Settings" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="RolePattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:Settings" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolePattern" nillable="true" type="tns:RolePattern" />
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:SettingsCategory" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcategory" nillable="true" type="tns:SettingsSubcategory" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
  <xs:complexType name="SettingsCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsCategory" nillable="true" type="tns:SettingsCategory" />
  <xs:complexType name="SettingsSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsSubcategory" nillable="true" type="tns:SettingsSubcategory" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="tns:AppUser" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="tns:AppUser" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfProbabilityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProbabilityType" nillable="true" type="tns:ProbabilityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProbabilityType" nillable="true" type="tns:ArrayOfProbabilityType" />
  <xs:complexType name="ProbabilityType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProbabilityType" nillable="true" type="tns:ProbabilityType" />
  <xs:complexType name="ArrayOfProbability">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Probability" nillable="true" type="tns:Probability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProbability" nillable="true" type="tns:ArrayOfProbability" />
  <xs:complexType name="Probability">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assessment" type="xs:float" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProbabilityType" nillable="true" type="tns:ProbabilityType" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Probability" nillable="true" type="tns:Probability" />
  <xs:complexType name="ArrayOfImpactType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImpactType" nillable="true" type="tns:ImpactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImpactType" nillable="true" type="tns:ArrayOfImpactType" />
  <xs:complexType name="ImpactType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImpactType" nillable="true" type="tns:ImpactType" />
  <xs:complexType name="ArrayOfImpact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Impact" nillable="true" type="tns:Impact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImpact" nillable="true" type="tns:ArrayOfImpact" />
  <xs:complexType name="Impact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assessment" type="xs:float" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImpactType" nillable="true" type="tns:ImpactType" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Impact" nillable="true" type="tns:Impact" />
  <xs:complexType name="ArrayOfClassification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Classification" nillable="true" type="tns:Classification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassification" nillable="true" type="tns:ArrayOfClassification" />
  <xs:complexType name="Classification">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Superclass" nillable="true" type="tns:Classification" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Classification" nillable="true" type="tns:Classification" />
  <xs:complexType name="ArrayOfStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Strategy" nillable="true" type="tns:Strategy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStrategy" nillable="true" type="tns:ArrayOfStrategy" />
  <xs:complexType name="Strategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrategyType" nillable="true" type="tns:StrategyType" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Strategy" nillable="true" type="tns:Strategy" />
  <xs:complexType name="StrategyType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StrategyType" nillable="true" type="tns:StrategyType" />
  <xs:complexType name="ArrayOfRelevance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relevance" nillable="true" type="tns:Relevance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelevance" nillable="true" type="tns:ArrayOfRelevance" />
  <xs:complexType name="Relevance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assessment" type="xs:float" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relevance" nillable="true" type="tns:Relevance" />
  <xs:complexType name="ArrayOfRiskCause">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskCause" nillable="true" type="tns:RiskCause" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiskCause" nillable="true" type="tns:ArrayOfRiskCause" />
  <xs:complexType name="RiskCause">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskCause" nillable="true" type="tns:RiskCause" />
  <xs:complexType name="ArrayOfPriority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Priority" nillable="true" type="tns:Priority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriority" nillable="true" type="tns:ArrayOfPriority" />
  <xs:complexType name="Priority">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assessment" type="xs:float" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Priority" nillable="true" type="tns:Priority" />
  <xs:complexType name="ArrayOfRisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Risk" nillable="true" type="tns:Risk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRisk" nillable="true" type="tns:ArrayOfRisk" />
  <xs:complexType name="Risk">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classification" nillable="true" type="tns:Classification" />
      <xs:element minOccurs="0" name="ContingencyStrategy" nillable="true" type="tns:Strategy" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Damage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deadline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExposureComputation" nillable="true" type="tns:ExposureComputation" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Impact" nillable="true" type="tns:Impact" />
      <xs:element minOccurs="0" name="ImpactType" nillable="true" type="tns:ImpactType" />
      <xs:element minOccurs="0" name="IsRelevance" nillable="true" type="tns:Relevance" />
      <xs:element minOccurs="0" name="MitigationStrategy" nillable="true" type="tns:Strategy" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="tns:Priority" />
      <xs:element minOccurs="0" name="Probability" nillable="true" type="tns:Probability" />
      <xs:element minOccurs="0" name="ProbabilityType" nillable="true" type="tns:ProbabilityType" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="ResponsiblePerson" nillable="true" type="tns:AppUser" />
      <xs:element minOccurs="0" name="RiskCause" nillable="true" type="tns:RiskCause" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Risk" nillable="true" type="tns:Risk" />
  <xs:complexType name="ExposureComputation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formula" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposureComputation" nillable="true" type="tns:ExposureComputation" />
  <xs:complexType name="ArrayOfAppUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppUser" nillable="true" type="tns:AppUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppUser" nillable="true" type="tns:ArrayOfAppUser" />
  <xs:complexType name="ArrayOfUserProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProject" nillable="true" type="tns:UserProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProject" nillable="true" type="tns:ArrayOfUserProject" />
  <xs:complexType name="UserProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppUser" nillable="true" type="tns:AppUser" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProject" nillable="true" type="tns:UserProject" />
</xs:schema>