RisksManagementClient/Connected Services/ServiceRisksManagement/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RisksManagementService.Database.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDepartments" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProjects" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProbabilityTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilityTypes" />
  </wsdl:message>
  <wsdl:message name="IService_GetProbabilityTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilityTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProbabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilities" />
  </wsdl:message>
  <wsdl:message name="IService_GetProbabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImpactTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImpactTypes" />
  </wsdl:message>
  <wsdl:message name="IService_GetImpactTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImpactTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImpacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImpacts" />
  </wsdl:message>
  <wsdl:message name="IService_GetImpacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImpactsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassifications" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStrategyTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategyTypes" />
  </wsdl:message>
  <wsdl:message name="IService_GetStrategyTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategyTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStrategies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategies" />
  </wsdl:message>
  <wsdl:message name="IService_GetStrategies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelevance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelevance" />
  </wsdl:message>
  <wsdl:message name="IService_GetRelevance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelevanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCauses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCauses" />
  </wsdl:message>
  <wsdl:message name="IService_GetCauses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCausesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPriorities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorities" />
  </wsdl:message>
  <wsdl:message name="IService_GetPriorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrioritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRisks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRisks" />
  </wsdl:message>
  <wsdl:message name="IService_GetRisks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRisksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsersWithProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersWithProjects" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsersWithProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersWithProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRisk" />
  </wsdl:message>
  <wsdl:message name="IService_InsertRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRiskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStrategy" />
  </wsdl:message>
  <wsdl:message name="IService_InsertStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRisk" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRiskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStrategy" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRisk" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRiskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStrategy" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DbModelCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DbModelCallback" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Connect" message="tns:IService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConnectResponse" message="tns:IService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAppUser" message="tns:IService_GetAppUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAppUserResponse" message="tns:IService_GetAppUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserDepartments" message="tns:IService_GetUserDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserDepartmentsResponse" message="tns:IService_GetUserDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserProjects" message="tns:IService_GetUserProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserProjectsResponse" message="tns:IService_GetUserProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProbabilityTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProbabilityTypes" message="tns:IService_GetProbabilityTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProbabilityTypesResponse" message="tns:IService_GetProbabilityTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProbabilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProbabilities" message="tns:IService_GetProbabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProbabilitiesResponse" message="tns:IService_GetProbabilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImpactTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImpactTypes" message="tns:IService_GetImpactTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImpactTypesResponse" message="tns:IService_GetImpactTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImpacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImpacts" message="tns:IService_GetImpacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImpactsResponse" message="tns:IService_GetImpacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClassifications" message="tns:IService_GetClassifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClassificationsResponse" message="tns:IService_GetClassifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrategyTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStrategyTypes" message="tns:IService_GetStrategyTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStrategyTypesResponse" message="tns:IService_GetStrategyTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrategies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStrategies" message="tns:IService_GetStrategies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStrategiesResponse" message="tns:IService_GetStrategies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelevance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRelevance" message="tns:IService_GetRelevance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRelevanceResponse" message="tns:IService_GetRelevance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCauses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCauses" message="tns:IService_GetCauses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCausesResponse" message="tns:IService_GetCauses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPriorities" message="tns:IService_GetPriorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPrioritiesResponse" message="tns:IService_GetPriorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRisks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRisks" message="tns:IService_GetRisks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRisksResponse" message="tns:IService_GetRisks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsers" message="tns:IService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersResponse" message="tns:IService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersWithProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsersWithProjects" message="tns:IService_GetUsersWithProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersWithProjectsResponse" message="tns:IService_GetUsersWithProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertRisk" message="tns:IService_InsertRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertRiskResponse" message="tns:IService_InsertRisk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertStrategy" message="tns:IService_InsertStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertStrategyResponse" message="tns:IService_InsertStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserResponse" message="tns:IService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateRisk" message="tns:IService_UpdateRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateRiskResponse" message="tns:IService_UpdateRisk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStrategy" message="tns:IService_UpdateStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStrategyResponse" message="tns:IService_UpdateStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteRisk" message="tns:IService_DeleteRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteRiskResponse" message="tns:IService_DeleteRisk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteStrategy" message="tns:IService_DeleteStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteStrategyResponse" message="tns:IService_DeleteStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Disconnect" message="tns:IService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DisconnectResponse" message="tns:IService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbModelCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DbModelCallback" message="tns:IService_DbModelCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppUser">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAppUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDepartments">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUserDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProjects">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUserProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProbabilityTypes">
      <soap12:operation soapAction="http://tempuri.org/IService/GetProbabilityTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProbabilities">
      <soap12:operation soapAction="http://tempuri.org/IService/GetProbabilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpactTypes">
      <soap12:operation soapAction="http://tempuri.org/IService/GetImpactTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpacts">
      <soap12:operation soapAction="http://tempuri.org/IService/GetImpacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassifications">
      <soap12:operation soapAction="http://tempuri.org/IService/GetClassifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrategyTypes">
      <soap12:operation soapAction="http://tempuri.org/IService/GetStrategyTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrategies">
      <soap12:operation soapAction="http://tempuri.org/IService/GetStrategies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelevance">
      <soap12:operation soapAction="http://tempuri.org/IService/GetRelevance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCauses">
      <soap12:operation soapAction="http://tempuri.org/IService/GetCauses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriorities">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPriorities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRisks">
      <soap12:operation soapAction="http://tempuri.org/IService/GetRisks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersWithProjects">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUsersWithProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRisk">
      <soap12:operation soapAction="http://tempuri.org/IService/InsertRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStrategy">
      <soap12:operation soapAction="http://tempuri.org/IService/InsertStrategy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRisk">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStrategy">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateStrategy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRisk">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStrategy">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteStrategy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbModelCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/DbModelCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALZA\Dashi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>